* {
    font-family:Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*landing page*/
.landing-page {
    background-color:#eae5e5;
    padding: 100px;
}
img{
    border-radius: 5px;
    width: 500px;
    height: auto;
    float: right;
    margin: 5px;
}
/*navigation bar*/

.navbar{
    background-color: #dffdd7;
    position: fixed;
    text-align: ;

}
.navbar-nav{
    justify-content: flex-end;
}
.navbar-brand{
    color: white;
    
}
.navbar-nav .nav-link{
    color:white;
}
.navbar-nav .nav-link:hover{
    color:aqua;
}

